<!DOCTYPE html>
<html lang="en" class="min-h-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{% if title %}{{ title }} - {% endif %}Siddhant Kameswar" />
    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}
    <title>
        {% if title %}
        {{ title }} -
        {% endif %}
        Siddhant Kameswar
    </title>
    <link rel="stylesheet" href="/main.css" />
    <!-- because lightningcss -->
    <style>@keyframes appear{entry 0%{opacity:0;}entry 75%{opacity:0;}entry 100%{opacity:1;}exit 75%{opacity:1;}exit 100%{opacity:0;}}</style>    
  </head>
  {{ content  }}
</html>
