---
layout: base.liquid
tags: navbar
order: 2
title: Categories
---

<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl dark:text-white underline underline-offset-3 decoration-8 decoration-primary-400 dark:decoration-primary-600">Categories:</h1>
<p class="text-gray-500 sm:text-xl dark:text-gray-400 mb-4">All of my projects on this website fall into one of these {{ categories.length }} categories</p>

<ul class="grid w-full gap-6 grid-cols-3 md:grid-cols-5 mb-4">
  {% for category in categories %}
    <a href="/projects/?c={{ category.id }}"
       class="inline-flex flex-col items-center justify-between w-full p-5 text-gray-700 dark:text-gray-300 bg-gray-50/50 border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-200 dark:border-gray-700 hover:text-gray-800 hover:bg-gray-100 dark:bg-gray-800/50 dark:hover:bg-gray-700">
      <div class="w-full text-lg font-semibold" style="overflow-wrap: break-word;">{{ category.name }}</div>
      <div class="w-full text-sm">{{ category.count }} projects</div>
    </a>
  {% endfor %}
</ul>


